
h1.tituloh1{
  font-size: 250%;
  color: #5E17EB;
  text-align: center;
  line-height: 4.5;
  position: fixed;
  width: 100%;
  top: 4px; /* Ajusta según sea necesario */
}



  
  .fondito {
    background: #3690b6; /* Cambia el color a tu preferencia */
    height: 100%;
    overflow: hidden;
  }
