<ion-header>

  <app-toolbar></app-toolbar>
 
 </ion-header>
 
 
 <ion-content>
 
  <app-header title="Crear cuenta"></app-header>

    

      <!-- <div class="logeando ion-text-center">
        <br>
        <p class="p1">CORREO</p>
        <ion-input  label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
        <br>
        <br>
        <p class="p2">CONTRASEÑA</p>
        <ion-input  fill="outline" placeholder="***********"></ion-input>

      </div>

        
        
        <div>
          <ion-button [routerLink]="['/login']" class="boton-ingresar">Crear cuenta</ion-button>
          <div class="crear-cuenta">
            <a [routerLink]="['/home']">Volver</a>
          </div>
        </div>
      -->
      

   
 
 
 
    <app-circle></app-circle>
    <app-patron></app-patron>

 
 </ion-content>