<ion-header>
  
  <app-toolbar></app-toolbar>
 
 </ion-header>
 
 
 <ion-content >
 
  <app-header title="Inicio de sesión"></app-header>

  

  <!-- <div class="logeando ion-text-center">
    
    <p class="p1">CORREO</p>
    <ion-input  label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
    <br>
    <br>
    <p class="p2">CONTRASEÑA</p>
    <ion-input  fill="outline" placeholder="***********"></ion-input>

  </div>

    <a style="margin-right: 200px;" [routerLink]="['/contrasegnaolvidada']">Recuperar contraseña</a>
    
    <div>
      <ion-button [routerLink]="['/feed']" class="boton-ingresar">Iniciar sesión</ion-button>
      <div class="crear-cuenta">
        <a [routerLink]="['/crearcuenta']">Crear cuenta</a>
      </div>
    </div> -->

      

   
 
 
 
    <app-circle></app-circle>
    <app-patron></app-patron>

 
 </ion-content>