<ion-header>

  <app-toolbar></app-toolbar>
 
 </ion-header>
 
 
 <ion-content >
 
  <app-header title="¿Has olvidado tu contraseña?"></app-header>


    

        <!-- <div class="logeando ion-text-center">
          
          <p class="p1">INGRESA TU CORREO</p>
          <ion-input  label-placement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
          <br>
          <br>
          

        </div>

        

          
          
          <div>
            <ion-button [routerLink]="['/recuperacion']" class="boton-ingresar">Enviar</ion-button>
            <div class="crear-cuenta">
              <a [routerLink]="['/login']">Volver</a>
            </div>
          </div> -->

      

   
 
 
 
    <app-circle></app-circle>
    <app-patron></app-patron>

 
 </ion-content>