.patron {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px; /* Ajusta la altura según tus necesidades */
    background-image: url('../../../../assets/patronbn.png');
    background-repeat: repeat;

  }
