

h1.tituloh1{
  font-size: 250%;
  color: #5E17EB;
  text-align: center;
  line-height: 4.5;
  position: fixed;
  width: 100%;
  top: 4px; /* Ajusta según sea necesario */
}



  
  .fondito {
    background: #3690b6; /* Cambia el color a tu preferencia */
    height: 100%;
    overflow: hidden;
  }

  .patron {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px; /* Ajusta la altura según tus necesidades */
    background-image: url('../../assets/patronbn.png');
    background-repeat: repeat;

  }



  
  .circle {
    background-color: #ffffff;
    border-radius: 50%;
    height: 69vh; /* 100% de la altura de la ventana */
    width: 176vw; /* 100% del ancho de la ventana */
    top: 24%;
    right: -39%;
    position:absolute;
    z-index: 0;
    transform: scale(1.2);
  }

  ion-content {
    position: relative; /* Asegura que los elementos dentro de ion-content sean posicionados relativamente */
    z-index: 1; /* Coloca el contenido del login en una capa superior que el círculo */
    
  }

